<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>

    <div class="container">
        <% if (logout) { %>    
            <h1>Atualização de Produtos</h1>
            <table class="table .table-striped">
              <thead>
                <tr>
                  <th scope="col">Cod</th>
                  <th scope="col">Produto</th>
                  <th scope="col">Marca</th>
                  <th scope="col">SKU</th>
                  <th scope="col" style="text-align: right">Valor</th>
                </tr>
              </thead>
              
            <% if (itens) {
                 itens.forEach(dado => {          %>
            <tbody>
                <tr>
                  <th scope="row"><%=dado.codprod%></th>
                  <td><%=dado.descrprod%></td>
                  <td><%=dado.marca%></td>
                  <td><%=dado.referencia%></td>
                  <th style="text-align: right"><%=dado.vlrvenda.toLocaleString('pt-br', {minimumFractionDigits: 2, maximumFractionDigits:2})%></th>
                </tr>
            </tbody>
                <%})
            }%>
              
            </table>
            <% }  %>         
    
    </div>

<%- include ('./partials/footer.ejs') %>

    
