<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>


<!-- Modal da lista de Pedido -->
<div class="modal fade" id="Modal01" tabindex="0" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Itens do Pedido</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table-responsive" id="tableItens">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col">Preço</th>
                <th scope="col">-</th>
              </tr>
            </thead>
            <tbody id="tbodyItens">
            </tbody>  
            <tfoot id="tfoot">
              <tr class="bg-secondary text-white">
                <td colspan="2">Total:</td>
                <td id="totalped">0.00</td>
                <td></td>
              </tr>
              <tr class="bg-dark text-white">
                <td>Desconto:</td>
                <td id="vlrDescto">0.00</td>
                <td id="totalLiq">0.00</td>
                <td></td>
              </tr>            
            </tfoot>
          </table>
        </div>
        <div class="modal-footer">
         <div class="input-group mb-3">
          <button class="button btn-success mx-2" id="loadDesc" onclick="updateTotal()"> <i class="fas fa-sync"></i> </button>
          <span class="input-group-text">%</span>
          <button class="button btn-success mx-2" id="per5" value=5 onclick="atuaDesc(<%=config.descto1%>)"> <%= config.descto1 %> %</button>
          <button class="button btn-success mx-2" id="per10" value=10 onclick="atuaDesc(<%= config.descto2 %>)"><%= config.descto2 %>%</button>
          <input type="number" class="form-control text-end" id="perDesc" aria-label="Desconto em %" value="">
          <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal" onclick="updateTotal()">Continuar</button>
         </div>
  
        </div>
      </div>
    </div>
  </div>
  <!-- Fim Modal -->
  
  <!-- Modal Alert 1 -->
  <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
  
        <div class="modal-body" id="alert"></div>
  
    </div>
  </div>

  
  <!--  Cabeçalho do Pedido -->
  <div class="container-fluid sticky-top cabPed" >
    <div class="row" id="cabPed"> 
      <div class="col-6 col-sm-6 col-lg-3  mt-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal01" id='btnPedido'>
          <i class="fas fa-dollar-sign"></i> 0.00</button>
      </div>
      <div class="col-6 col-sm-6 col-lg-3  mt-2">
        <button type="button" class="btn btn-success" id="salvarPedido" onclick="Gravar()">
          <i class="fas fa-print"></i>
          Salvar
        </button>
      </div>
      <div class="col-9 align-self-center">
        <input class="form-control mt-2" type="search" placeholder="Busca..." aria-label="Search" id="search"  onkeyup="buscaItem()">
      </div>
      <div class="col-3 align-self-center">
        <button class="btn" onclick="limpaBusca()"><i class="fas fa-redo"></i></button>
      </div>
    </div>
    <hr>
  </div>
  
  
  <!-- Accordion -->
  <div "container-fluid">
      <div class="mb-5" id="accordion">

        <% var v_marca = 'XX'
            total.forEach((dado,i) =>{
            if(v_marca!=dado.marca){
        %>
          <!-- CARD PRO -->
          <!-- <div class="card"> -->
              <div class="card-header bg-<%=dado.color%> text-<%=dado.textcolor%>" id="pergunta2" >
                  <h5 class="mb-0 text-center" data-toggle="collapse" data-target="#<%=dado.marca.replace(' ', '')%>">
                    <%=dado.marcapublico%>
                  </h5>
              </div>
        <%} 
          v_marca = dado.marca
        %>      
              <div class="collapse" id="<%=dado.marca.replace(' ', '')%>" data-parent="#accordion">
                  <div class="container-fluid">
                      <div class="row">
                            <div class="card-body col-12 col-lg-6 bg-ligth" id="itens">
                              <%=dado.descrprod%>
                            <span id="span"><strong>$<%=dado.vlrvenda%></strong></span>
                            <span id="estoque"><i class="fas fa-cubes"></i><strong>   <%if(dado.estoque>2) {%><%=dado.estoque-2%><%}%></strong></span>
                            <button key="<%=dado.codprod%>,<%=dado.descrprod%>,<%=dado.vlrvenda%>,<%=dado.codbarra%>" class=" btn btn-success" id="btnAdd" <% if(dado.estoque=='0') { %> hidden <% } %> >+</button>
                            </div>

                      </div>
                  </div> 
              </div>
          <!-- </div> -->

          <%  })%>           
      </div>
  </div>
  
  
  
  
  <!-- Alert de gravação do Item -->
  <div class="position-fixed bottom-0 start-50 translate-middle-x p-3" style="z-index: 5">
    <div id="liveToast" class="toast bg-success text-white bg-opacity-75" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="1500">
      <div class="toast-body text-center">
        Item Gravado!!!
      </div>
    </div>
  </div>
  

  <%- include ('./partials/footer.ejs') %>

  
  

  
  